@mixin contenedorProductos($width, $itemsPorFila) {
    width: $width;
    text-align: left;
    margin: 20px auto;
    .titulos {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        background-color: $colorPrincipal;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 15px;
        .item {
            width: calc(100% / $itemsPorFila - 20px);
            padding: 10px;
        
            img {
                width: 100%;
                height: auto;
            }
            
            p {  
                text-align: left;
            }
        
            .marca {
                font-size: 20px;
                font-weight: 600;
            }
            
            .nombre {
                font-size: 18px;
                font-weight: 400;
                color: #555;
            }
            
            .precio {
                font-size: 16px;
                font-weight: 400;
                color: #222;
            }
        }
    }
}