body{
    background-color: #FFFDEC;
}

.tituloPagina{
    font-weight: 600;
    font-style: bold;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    background-color: #FFCFCF;
    margin: 20px;
}

.textoAlineado{
    font-weight: 400;
    font-style: regular;
    width: 80%;
    text-align: left;
    margin: 20px auto;
}