header{
    p{
        font-weight: 400;
        font-style: regular;
        font-size: 16px;
        color: $colorTextoPrincipal;
        background-color: $colorPrincipal;
        text-align: center;
    }

    .variosEncabezado{
        font-weight: 400;
        font-style: normal;
        width: 100%;
        padding: 1px;
        margin-top: 12px;
        margin-bottom: 12px;

        .contenedor{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
            gap: 10px;

            div {
                text-align: center;
            }

            span {
                font-size: 22px;
                margin-right: auto;
                a{
                    text-decoration: none;
                    color: $colorTextoPrincipal;
                }
            }
        
            input{
                padding: 5px;
                width: 100%;
                max-width: 800px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        
            img{
                vertical-align: end;
            }
        }
    }

    nav{
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        background-color: #FFCFCF;
        text-align: center;
        margin: 0;

        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
        }

        li {
            position: relative;
            margin: 0 15px;
        }

        a {
        text-decoration: none;
        color: $colorTextoPrincipal;
        } 
    }
}