@import "../utilities/mixins";

.textoAlineadoPrimero {
    @include contenedorProductos(90%, 5); 
}

.extras{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    background-color: #f9f9f9;

    img{
        max-width: 40%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .contenedorTexto {
        h1{
            font-size: 2em;
        color: #333;
        margin-bottom: 15px;
        }
        
        form {
            display: flex;
            align-items: center;
            gap: 10px;

            input[type="text"] {
                flex: 1;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1em;
            }
            
            input[type="submit"] {
                padding: 10px 20px;
                background-color: $colorPrincipal;
                border: none;
                border-radius: 5px;
                color: #333;
                font-size: 1em;
            }
        }
    }  
}

.textoAlineado {
    @include contenedorProductos(80%, 4); 
}

.contenedorTutoriales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

    .video{
        text-align: center;
        padding: 15px;
    
        iframe {
            width: 100%;
            border-radius: 5px;
        }
        
        p {
            text-align: left;
            font-size: 16px;
            color: #333;
        }
    }
}

.ubicacion {
    width: 90%;
    text-align: center;
    margin: 40px auto;
    
    .contenedorTienda {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
        gap: 20px;

        .info{
            text-align: center;
            padding: 20px;

            p {
                font-size: 16px;
                color: #333;
            }
    
            img{
                border-radius: 5%;
                width: 100%;
            }
        }   
    
        .mapa {
            flex: 1.5; 
            display: flex;
            justify-content: center;

            iframe {
                width: 100%;
                max-width: 700px; 
                height: 450px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}