@media(max-width:375px) {
    header{
        p {
            font-size: 12px;
        }

        .variosEncabezado{
            margin-top: 8px;
            margin-bottom: 8px;

            .contenedor {
                text-align: center;
    
                span{
                    font-size: 18px;
                }
    
                input {
                    width: 90%;
                }
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        nav{
            font-size: 12px;

            ul {
                flex-direction: row;
            }
        }
    }

    .tituloPagina {
        font-size: 22px;
        margin-top: 14px;
        margin-bottom: 2px;
        padding: 5px;
    }

    .titulos{
        font-size: 18px;
    }

    .carrusel{
        margin-top: 10px;
        height: 200px;

        ul li img{
            height: 100%;
        }
    }

    .textoAlineadoPrimero{
        .titulos{
            font-size: 18px;
        }
    
        .contenedorProductos{
            flex-direction: row;
            gap: 5px;
    
            .item{
                width: calc(33.33% - 10px);
                padding: 4px;   

                img{
                    width: 100%;
                    height: auto;
                }
    
                .marca{
                    font-size: 16px;
                }
            
                .nombre{
                    font-size: 14px;
                }
            
                .precio{
                    font-size: 12px;
                }
            }
        }
    }

    .extras{
        flex-direction: column; 
        align-items: center;
        margin: 15px;
        padding: 0px;

        img{
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }

        .contenedorTexto {
            padding-left: 0; 
            text-align: center; 
        }
    
        .contenedorTexto h1 {
            font-size: 16px;
            
            form {
                width: 100%; 
                justify-content: center; 

                input[type="text"] {
                    font-size: 12px;
                    width: 80%; 
                    margin-bottom: 10px; 
                }
            
                input[type="submit"] {
                    font-size: 12px;
                    width: 40%; 
                    margin-top: 10px; 
                }
            }
        }
    }

    .textoAlineado{
        .titulos{
            font-size: 18px;
        }
    
        .contenedorProductos{
            flex-direction: row;
            gap: 5px;
    
            .item{
                width: calc(50% - 10px);
                padding: 4px;   

                img{
                    width: 100%;
                    height: auto;
                }
    
                .marca{
                    font-size: 16px;
                }
            
                .nombre{
                    font-size: 14px;
                }
            
                .precio{
                    font-size: 12px;
                }
            }
        }
    }
    

    .ubicacion{
        margin: 10px;

        .contenedorTienda {
            flex-direction: column;
            align-items: center;
    
            .info p{
                font-size: 14px;
                margin-bottom: 10px;
            }
    
            .mapa iframe{
                height: 300px;
            }
        }
    }

    .contenedorTutoriales{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;

        .video {
            text-align: center;
            padding: 5px;

            p {
                font-size: 14px;
            }
        }
    }

    .primeraYTerceraTabla{
        .fila{
            flex-direction: column;
            .columnaTexto{
                h1{
                    font-size: 24px;
                    p{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .segundaTabla {
        p{
            font-size: 16px;

            span{
                font-size: 24px;
            }
        }
    }

    footer{
        margin-top: 10px;

        .footerContenedor .footerRow{
            flex-direction: row;
            align-items: left;
            gap: 5px;

            .footerCol {
                max-width: 50%;
                padding: 10px;
        
                h1{
                    font-size: 14px;
                }
        
                p{
                    font-size: 12px;
                }
    
                form {
                    flex-direction: row;
    
                    input {
                        width: 200px;
                    }
                }
            }
        }
        
        .footerFinal{
            font-size: 10px;
        }
    }
}